body, html{
    background-image: url("flowerbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;


    overflow-x: hidden;

    height: 100vh;
    
}



.hero{
    margin-top: 10%!important;
    max-width: 950px;
    min-height: 450px !important;

    position: relative;
    z-index: 100;


    border: 1px solid rgba(255, 255, 255, 0.2);

    /* From https://css.glass */
  /*  background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);*/


    position: relative;
}


.hero h1{
    font-size: 15rem !important;

}

.hero p {
color: rgba(241, 241, 233, 0.548);
font-size: 15px;
}

h3{
 color: rgb(231, 235, 240) !important;
}




main p {
    color: rgb(223, 231, 231);
}

.card{
    width: 220px;
    min-height: 300px;
    color: black;
    margin-left: 15px;
    margin-top: 15px;
}

.card-img{
   min-width: 200px;
   min-height: 200px;
   max-height: 200px;
}

.card p{
    color: rgb(177, 172, 172);
}
.card h5{
    color: rgb(177, 172, 172);

}

.card-img-top{
    min-height: 200px;
    max-height: 200px;
}

.card a{
    color: rgb(177, 172, 172);
}
.card a:visited{
    color: rgb(177, 172, 172);
}

.main{
    overflow-x: hidden;

}


@media (min-width: 320px) and (max-width: 800px){
        .mask{
        background-size: 250% !important;

/*
        background: none !important;
        -webkit-mask-image: none !important;
        mask-image: none !important;
        */

        /*

                  background: radial-gradient(circle 0px at var(--x) var(--y), rgba(211, 210, 210, 0.767) 0%, rgba(179, 172, 172, 0.945) 100%) !important;
          -webkit-mask-image: radial-gradient(circle 0px at var(--x) var(--y), rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.603) 100%) !important;
          mask-image: radial-gradient(circle 0px at var(--x) var(--y), rgba(216, 209, 209, 0) 0%, rgba(175, 169, 169, 0.322) 100%) !important;

                   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
         backdrop-filter: blur(5px);
         -webkit-backdrop-filter: blur(5px);
         pointer-events: none;*/
    }

    .hero p{
        color: rgba(236, 233, 241, 0.705);
        position: absolute;
        bottom: 3px;
        z-index: 50;
    }


}


@media (min-width: 320px) and (max-width: 1000px){
        .magnifier{
        display: none;

        .mask{
            display: none;
        }
    }



}




@media (min-width:370px) and (max-width:499px)  {
   .hero{
        font-size: 6rem !important;
        font-weight: bold;
    }

    .cardsContainer{
        flex-direction: column;

    }
    .card{
        margin-left: 25%;
    }
}


@media (min-width: 500px) and (max-width:1000px){
   .hero {
        font-size: 10rem !important;
        font-weight: bold;
        margin-left: 10px;
        margin-right: 10px;
    }

}


/***/

        h1{
/*
          position: absolute;
          top: 0;
          left: 0;
          */
          width: 100%;
          height: 100%;
          background: radial-gradient(circle 290px at var(--x) var(--y), rgba(211, 210, 210, 0) 0%, rgba(150, 70, 70, 0.075) 100%);
          -webkit-mask-image: radial-gradient(circle 290px at var(--x) var(--y), rgb(233, 9, 9) 100%, rgba(209, 57, 57, 0.952) 100%);
          mask-image: radial-gradient(circle 190px at var(--x) var(--y), rgb(247, 39, 39) 100%, rgb(248, 54, 54) 100%);



        }

      .magnifier {
          position: absolute;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.1);
          border: 2px solid rgba(255, 255, 255, 0.4);
          box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
          transform: translate(-50%, -50%) scale(1);
          /*backdrop-filter: blur(5px);*/
          transition: transform 0.1s ease-out;
          pointer-events: none;
      }


      .mask {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: radial-gradient(circle 490px at var(--x) var(--y), rgba(211, 210, 210, 0) 0%, rgba(156, 155, 155, 0.719) 100%);
          -webkit-mask-image: radial-gradient(circle 490px at var(--x) var(--y), rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.103) 100%);
          mask-image: radial-gradient(circle 270px at var(--x) var(--y), rgba(216, 209, 209, 0) 0%, rgb(175, 169, 169) 100%);

          /*css.glass*/
         box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
         backdrop-filter: blur(5px);
         -webkit-backdrop-filter: blur(5px);
         pointer-events: none;

         background-image: url("construction.png");
         background-position: center;
         background-repeat: no-repeat;
         background-size: 150%;

         
      }


      .containerX {
          position: relative;
          /*font-size: 3rem;*/
          font-weight: bold;
          text-align: center;
          color: rgba(241, 241, 233, 0.192);


          
        max-width: 950px;
        overflow-y: hidden;
        overflow-x: hidden;
        border-radius: 8px;


        
      }

